<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* Estilos CSS para centrar solo el h1 y el h3 */
        h1, h3 {
            text-align: center;
        }

        h1 {
            font-size: 36px;
            margin-top: 40px; /* Mover 40 píxeles hacia arriba */
        }

        h3 {
            font-size: 24px;
            margin-top: 10px;
        }

        section {
            border: 2px solid black; /* Contorno resaltado en color negro */
            padding: 20px;
            text-align: center;
        }

        .content-container {
            text-align: center;
            margin-top: 40px; /* Mover 40 píxeles hacia abajo */
        }

            .content-container img {
                max-width: 100%; /* Ajustar al 100% del contenedor */
                height: auto;
                width: 300px; /* Establecer un ancho fijo en píxeles */
            }
    </style>
</head>
<body>
    <section>
        <h1>HDG</h1>
        <h3>SISTEMA DE ALERTA TEMPRANA EN ESTUDIANTES</h3>
    </section>
    <div class="content-container">
        <img src="img\COLIMA.png" alt="Tu Imagen">
    </div>
</body>
</html>

